.hero {
  display: flex;
  // flex-wrap: wrap;
  position: relative;
  justify-content: space-around;
  gap: 5rem;
  height: 90vh;
  padding-top: 40px;
  margin-top: 15px;
  background-color: whitesmoke;

  .hero__img-container {
    // display: flex;
    // justify-content: center;
    margin-top: 30px;
    height: 100%;
    width: 50%;
  }

  .hero__img {
    width: 100%;
    height: 80%;
    margin-left: 20px;
    // position: absolute;
    // left: 90px;
  }

  .hero__txt-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
    height: 100%;
    // margin-top: 80px;
    // margin-left: 90px;
    // position: absolute;
    // top: 100px;
    // right: 180px;

    .hero__txt-header {
      font-size: 2rem;
      color: rgb(252, 101, 0);
    }

    .hero__txt-sub-header {
      font-size: 3rem;
      font-weight: 700;
      color: rgb(43, 41, 41);
    }

    .hero__txt-description {
      font-size: 1.1rem;
    }

    .hero__timer-container {
      display: flex;
      gap: 20px;
      margin-top: 30px;
    }

    .hero__timer-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border: 1px solid rgb(252, 101, 0);
      border-radius: 50%;
      font-size: 0.75rem;
      line-height: 1rem;

      .hero__timer-number {
        font-weight: 700;
        font-size: 1rem;
        color: rgb(43, 41, 41);
      }
    }

    .hero__timer-container {
      display: flex;
    }

    .hero__cta {
      border: 1px solid transparent;
      border-radius: 5px;
      background-color: rgb(252, 101, 0);
      margin-top: 30px;
      width: 150px;
      // height: 20px;
      padding: 10px;
      color: white;
    }
  }
}

@media (max-width: 480px) {
  .hero {
    flex-direction: column;
    align-items: center;
    height: 70vh;
    width: 100%;
    margin-top: 3px;
    gap: 20px;

    .hero__img-container {
      height: 50%;
      width: 100%;
      margin-top: 0;
    }

    .hero__img {
      height: 100%;
      width: 90%;
    }

    .hero__txt-content {
      width: 100%;
      height: 100%;
      margin-top: 15px;
      align-items: center;
      justify-content: flex-start;
      background-color: white;

      .hero__txt-header {
          font-size: 1.5rem;
          margin-top: 40px;
      }

      .hero__txt-sub-header{
          font-size: 2.5rem;
      }

      .hero__txt-description {
          font-size: 1.35rem;
          font-weight: 600;
      }

      .hero__timer-container {
          gap: 35px;
      }

      .hero__timer-block {
          width: 60px;
          height: 60px;

      }
    }
  }
}

.collection {
    // border: 1px solid grey;
    margin-top: 40px;
    width: 100%;
    // max-height: 100vh;

    .collection__content-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(226, 224, 224);
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100%;
    }

    .collection__header {
        color: black;
        margin-bottom: 10px;
    }

    .collection__txt {
        margin-bottom: 10px;
    }

    .collection__txt-link {
        font-size: 0.7rem;
        color: rgb(252, 101, 0);
    }

    .collection__content-container {
        // border: 1px solid grey;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 10px;
    }

    .collection__content {
        display: flex;
        flex-direction: column;
        border: 2px solid whitesmoke;
        max-height: 400px;
        width: calc(25% - 10px);
    }

    .collection__img-container {
        background-color: whitesmoke;
    }

    .collection__img {
      padding: 7px;
      width: 100%;
      height: 250px;
    }

    .collection__rating-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .collection__rating-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
    }

    .collection__type {
      color: rgb(0, 0, 78);
      font-weight: 500;
      margin-top: 15px;
      margin-left: 10px;
    }

    .collection__rating-container {
      margin: 10px 10px 20px 10px;
    }

    .collection__rating-content {
      padding-right: px;
      padding-top: 2px;
      padding-bottom: 5px;
    }

    .collection__rating-txt {
      font-size: 0.9rem;
      color: rgb(128, 128, 255);
    }

    .collection__price {
      color: orange;
      // padding: 2px;
    }

    .four--star {
      color: orange;
    }
    
    .five--star {
      color: orange;
    }

    .three--star {
      color: orange;
    }
}

// category section
.category {
  width: 100%;

  .category__header-container {
    border-bottom: 2px solid rgb(219, 214, 214);
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    // width: 100%;
  }
  
  .category__header {
    padding: 0px 10px;
    text-align: center;
    color: rgb(0, 0, 78);
    margin-bottom: -15px;
    background-color: white;
  }

  .category__card-container {
    // border: 1px solid grey;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
  }

  .category__card-content {
    margin-top: 40px;
    width: 24%;
    // max-height: 600px;
  }

  .card__img-container {
    background-color: whitesmoke;
  }

  .card__img {
    width: 100%;
    padding: 7px;
    height: 250px;
  }

  .card__txt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
}


